# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

#Firebase
firebaseConfig.ts
#Evita que as chaves do FCM sejam enviadas para o git
#Deve ser descomentado quando criar o app no profile development para testar o FCM
#Pois, o EAS do Expo requer o arquivo google-services.json (senão falha o build)
google-services.json
.env.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
